/* Style the top navigation */


.topnav {
    overflow: hidden;
    /* background-color: #333; */
}
/* Style the links in the top navigation */

.topnav a {
    /* when we float right, need to list the items in reverse order in the html to get the visual we want.  not sure what's up w/ that */
    float: right; 
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
.topnav p {
    float:  left;
    color: blue;
    text-emphasis: bold;
}

.phone {
    color: gray;
}

.login {
    color: black;
}

/* Change color upon hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.first-third {
    background-color: darkblue;
    width: 95%;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}


.first-third h1,h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* border: 5px solid purple; */
    padding-left: 50px;

}

.first-third button {
    background-color: white; /* Green */
  border: none;
  color: blue;
  text-emphasis: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* border-radius gives the rounded edges to the button */
  border-radius: 10px; 
  /* border: 5px solid purple; */
  position: relative;
  /* left pushes the button over to align with the text above it. */
  left: 50px;
  
}


.column {
    float: left;
    width: 30%;
    border: 1px solid gray;
    text-align: center;
    /* padding-left: 2em; */
    margin: 1em;
    padding-bottom: 1em;
    
}
.column h3 {
    font-weight: normal;
    color: gray;
}
.column p {
    font-weight: bold;
}
/* adding background photos to the columns now */

.concierge {
    background-image: url("images/concierge.jpg");

}

/* clearing the floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    .column {
        width: 90%
    }
}


.button-row {
    position: relative;
    left: 250px;
}
.button-column button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    width: 25%;
    margin: 1em;
    float: left;
    left: 50px;
}

/* trying to set background on the "For You" button to white but not successful */
 .unselected {
    color: blue;
    background-color: white;
    

}



/* clearing the floats after the columns */
.button-row:after {
    content: "";
    display: table;
    clear: both;
}

.find-plan h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border: 5px solid purple; */
    padding-left: 50px;

}
.find-plan h2 {
    color: gray;
    text-emphasis: none;
    text-align: center;
    padding-top: 3em;
}

.find-plan {
    padding-bottom: 10em;
}
/* styling the footer now */
.column-content {
    list-style: none;
}

.horizontal-line {
    border: 1px solid gray;
    padding-top: 5em;
    padding-bottom: 0em;
}
.footer-column {
    float: left;
    width: 15%;
    /* border: 1px solid gray; */
    /* text-align: center; */
    /* padding-left: 2em; */
    margin: 1em;
    
    
}

.column-title {
    color: black;
    text-align: justify;
}
.column-content {
    color: gray;
    /* text-align: justify; */
    /* border: 5px solid purple; */
    padding-left: 0px;
}
