<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all logs</title>
</head>
<body>
    <h1>Captain's Log Entries</h1>

    <ol>
        <% for(let i = 0; i < logs.length; i++){ %>
        <li>
                    
                       <a href="/logs/<%=logs[i].id%>"><%=logs[i].name %></a>
            <form action="/logs/<%=logs[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Entry" />

            </form> 
            <p><a href="/logs/<%=logs[i].id%>/edit">Edit Log Entry</a></p>
        </li>
        <% } %>
    </ol>
    
</body>
</html>