<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Log Entry</title>
</head>
<body>
    <h1>Create a new log entry</h1>
    <form action="/logs" method="POST">
        Name: <input type="text" name="name" /><br/>
        Entry: <input type="textarea" name="entry" /><br/>
        Is Ship Broken: <input type="checkbox" name="shipIsBroken" /><br/>
        <input type="submit" name="" value="Create Entry"/>
    </form>
</body>
</html>