.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}
.receipt {
    border: 2px solid green;
    flex: 1 1 auto;
    background-color: wheat;
    margin: 5px;
}