h1 {
    text-align: center;
    color: darkviolet;
}

body {
    background-color: lightslategray;
}

h3 {
    color: antiquewhite;
}

img {
    width: 90%;
    margin: auto;
    padding: 25px 50px 25px 75px;
}



