<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>See the Pokemon!</title>
</head>
<body>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
        ul {
            list-style-type: none;
        }
      </style>
    <h1>See all the Pokemon!</h1>
      <ul>
    <%  for (item in allPokemon) { %>
      <% let itemName = allPokemon[item].name; %>
      <% let inCaps = itemName.charAt(0).toUpperCase() + itemName.slice(1); %>

        <li>
            <%= inCaps %>
        </li>
   <% } %>
    </ul>
</body>
</html>