<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala&display=swap" rel="stylesheet">  
    <title>Add New Product</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Add New Product Here</h1>
        </div>
    </div>
<br>
    <ul class="navigation">
        <li>
            <a href="/products">Return to Product List</a>
        </li>
        <li>
            <a href="/products">Cancel</a>
        </li>  
    </ul>

    <br>
    <div class="container-1">
        <form action="/products" method="POST">

            <!-- first row: Product Name -->
            <div class="row">
                <div class="col-25">
                    <label for="name">Product Name:</label> 
                </div>
                <div class="col-75">
                    <input type="text" name="name"/> <br/>
                </div>
            </div>
            <!-- second row: Description -->
            <div class="row">
                <div class="col-25">    
                    <label for="description">Description:</label>
                </div> 
                <div class="col-75">
                        <textarea name="description" style="height:50px"></textarea>
                </div>
            </div>

            <!-- third row: IMG link -->
            <div class="row">
                <div class="col-25">
                    <label for="img">Image:</label> 
                </div>
                <div class="col-75">
                    <input type="text" name="img"/> <br/>
                </div>
            </div>

            <!-- fourth row: Price -->
            <div class="row">
                <div class="col-25">
                    <label for="price">Price:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="price" placeholder="positive number"/> <br/>
                </div>
            </div>


            <div class="row">
            
                <div class="col-25">
                    <label for="qty">Quantity on Hand:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="qty" placeholder="positive number"/> <br/>
                </div>
            </div>
            <br>
            <br>
            <input type="submit" class="button" name="" value="Create new product"/>
        </form>
    </div>
</body>
</html>