<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokedex Index Page</h1>
    <ul class="navigation">
        <li>
            <a href="/pokedex/new">Add New Pokemon</a>
        </li>
        
    </ul>
    <hr>
    <div class="container">
              <% for (let i=0; i<max; i++) { %>
            <div class="item">
                <a href="/pokedex/<%= i %>">
                    <img src="<%= pokemon[i].img %>" alt="<%=pokemon[i].name %>" width="42" height="42">
                </a>
                <div class="title">
                    <%= pokemon[i].name %>
                </div>
               
            </div>
        
        <% } %>

        
    </div>
</body>
</html>