<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> 
    <title>Log New Spending Item</title>
</head>
<body>
    <form action="/budgets" method="POST">
        <div class="row">
            <div class="two columns">
                <label for="date">Date</label>
                <input class="u-full-width" name="date" type="text" placeholder="February 16" id="date">
            </div>
            <div class="two columns">
                <label for="amount">Amount</label>
                <input class="u-full-width" name="amount" type="text" placeholder="100" id="amount">
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <label for="name">Name</label>
                <input class="u-full-width" name="name" type="text" placeholder="What did I blow money on?" id="name">
            </div>
            <div class="two columns">
                <label for="tags">Tags (comma separated)</label>
                <input class="u-full-width" type="text" placeholder="spending" name="tags" id="tags">
            </div>

        </div>
        <br>
        <div class="row">
            <div class="one column">
               Expense?
            </div>
            <div class="two columns">
                <input type="radio" name="expense" value="yes" checked>
                <label for="yes">Y</label>
            </div>
            <div class="two columns">
                <input type="radio" name="expense" value="no">
                <label for="no">N</label>
            </div>
        </div>
        <br>
        <input class="button-primary" type="submit" name="" value="Create new item">
    </form>
</body>
</html>