<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> 
    <title>Log New Spending Item</title>
</head>
<body>
    <form>
        <div class="row">
            <div class="two columns">
                <label for="date">Date</label>
                <input class="u-full-width" type="text" placeholder="February 16" id="date">
            </div>
            <div class="two columns">
                <label for="amount">Date</label>
                <input class="u-full-width" type="text" placeholder="100" id="amount">
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <label for="name">Name</label>
                <input class="u-full-width" type="text" placeholder="What did I blow money on?" id="name">
            </div>
            <div class="two columns">
                <label for="tags">Tags (comma separated)</label>
                <input class="u-full-width" type="text" placeholder="spending" id="tags">
            </div>

        </div>
        <input class="button-primary" type="submit" value="Create new item">
    </form>
</body>
</html>