<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit item</title>
</head>
<body>
    <h1>Edit Living Thing Page</h1>
    <form action="/uncharted_planet/<%=index%>?_method=PUT" method="POST">
    <!--  NOTE: the form is pre-populated with values for the server-->
    Name: <input type="text" name="name" value="<%=item.name%>"/><br/>
    Description: <input type="text" name="description" value="<%=item.description%>"/><br/>
    
    <input type="submit" name="" value="Submit Changes"/>
    </form>
    
</body>
</html>