<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Scientist!</title>
</head>
<body>
    <form action="/uncharted_planet" method="POST">
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="Scientist Name Here" id="name">
        <label for="description">Description</label>
        <input name="description" type="text" placeholder="Scientist Role Here" id="description">
        
        <input type="submit" name="" value="Add Scientist">
    </form>


</body>
</html>